[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "symptomcheckR"]
	path = symptomcheckR
	url = https://github.com/ma-kopka/symptomcheckr
